<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="referrer" content="no-referrer" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Interwego</title>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css"
    integrity="sha512-Z/def5z5u2aR89OuzYcxmDJ0Bnd5V1cKqBEbvLOiUNWdg9PQeXVvXLI90SE4QOHGlfLqUnDNVAYyZi8UwUTmWQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />

  <style>
    @media print {
      #main-container {
        max-width: none;
      }
    }
  </style>
</head>

<body>
  <div id="main-container" class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center mt-3">Curriculum vitae</h1>
      </div>
    </div>

    <div class="row align-items-center mt-3 mt-sm-4 mt-md-5">
      <div class="col-sm-6 text-center text-sm-end">
        <img src="jens.jpg" class="img-fluid rounded-circle p-3" style="max-width: 300px; width: 100%;" alt="Jens Willemsens">
      </div>
      <div class="col-sm-6">
        <div class="text-center text-sm-start">
          <p class="fs-3">{{ .Data.Contact.Name }}</h5>
          <p class="mb-1">{{ .Data.Contact.Location }}</p>
          <p class="mb-1"><a href="tel:{{ .Data.Contact.Phone }}">{{ .Data.Contact.Phone }}</a></p>
          <p class="mb-1"><a href="mailto:{{ .Data.Contact.Email }}">{{ .Data.Contact.Email }}</a></p>
          <p class="mb-3">GitHub:
            {{ range $i, $username := .Data.Contact.GitHub -}}
            {{- if $i -}}, {{ end }}<a href="https://github.com/{{ $username }}">{{ $username }}</a>
            {{- end }}
          </p>
          <p class="mb-1">Interwego BV</p>
          <p>{{ .Data.Contact.VATNumber }}</p>
        </div>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <h2>Summary</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p class="fw-bold">Professional experience</p>
            <ul>
              {{ range .Data.Experience.Summary.Professional }}
                <li>{{ . }}</li>
              {{ end }}
            </ul>
          </div>

          <div class="col-md-4">
            <p class="fw-bold">Personal experience</p>
            <ul>
              {{ range .Data.Experience.Summary.Personal }}
                <li>{{ . }}</li>
              {{ end }}
            </ul>
          </div>

          <div class="col-md-4">
            <p class="fw-bold">Certifications</p>
            <ul>
              {{ range .Data.Certifications }}
                {{ if .Link }}
                <li><a href="{{ .Link }}">{{ .Name }}</a></li>
                {{ else }}
                <li>{{ .Name }}</li>
                {{ end }}
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="card mt-3">
      <div class="card-body">
        <div class="row mb-2">
          <div class="col-12">
            <h2>Work experience</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <h3>Skipr</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="accordion accordion-flush">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#pe-skipr-1"
                    aria-expanded="true"
                    aria-controls="pe-skipr-1"
                  >
                    <p class="mb-0">
                      <span class="fw-bold me-2">September 2021 - Present:</span>
                      System engineer and security officer
                    </p>
                  </button>
                </h2>
                <div id="pe-skipr-1" class="accordion-collapse collapse show">
                  <div class="accordion-body">
                    <p>Roles &amp; Responsibilities:</p>
                    <ul>
                      <li>Management of infrastructure using Terraform</li>
                      <li>Management of VPC on GCP, including firewall, network subnetting, outbound NAT and WAF</li>
                      <li>Implementation and monitoring of Kubernetes, Postgres and MongoDB on GCP</li>
                      <li>Automating builds and deployments using GitHub Actions</li>
                      <li>Co-responsible for ISO 27001 certification
                        <ul>
                          <li>Collaborating with external consultants on policies and setup of ISMS</li>
                          <li>Identification, assessment and treatment of risks</li>
                          <li>Setup of technical measures and missing processes</li>
                        </ul>
                      </li>
                      <li>Investigation and handling of security incidents and reported vulnerabilities</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#pe-skipr-2"
                    aria-expanded="true"
                    aria-controls="pe-skipr-2"
                  >
                    <p class="mb-0">
                      <span class="fw-bold me-2">March 2020 - Present:</span>
                      Backend developer Golang and Python
                    </p>
                  </button>
                </h2>
                <div id="pe-skipr-2" class="accordion-collapse collapse show">
                  <div class="accordion-body">
                    <p>Roles &amp; Responsibilities:</p>
                    <ul>
                      <li>Implementation of new services and features in a microservice architecture</li>
                      <li>Debug and fix reported incidents with attention of existing business logic</li>
                      <li>Gather and address functional and technical requirements</li>
                      <li>Aligment and proposal of new coding principles with an ADR-based methodology</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-12">
            <h3>Accenture: Technical BI consultant</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="accordion accordion-flush">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#pe-acn-1"
                    aria-expanded="true"
                    aria-controls="pe-acn-1"
                  >
                    <p class="mb-0">
                      <span  class="fw-bold me-2">April 2019 - February 2020:</span>
                      SAP BW on HANA, SAP HANA and Spotfire in Products sector
                    </p>
                  </button>
                </h2>
                <div id="pe-acn-1" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    <p>Roles &amp; Responsibilities:</p>
                    <ul>
                      <li>Development of new reporting requirements in a DevOps setup</li>
                      <li>Impact analysis of SAP ECC upgrade to S/4HANA</li>
                      <li>Improving team efficiency by creating internal tools and documentation</li>
                      <li>Train and support client employees on technical aspects of SAP BW on HANA</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#pe-acn-2"
                    aria-expanded="true"
                    aria-controls="pe-acn-2"
                  >
                    <p class="mb-0">
                      <span class="fw-bold me-2">February 2018 - April 2019:</span>
                      BI team lead
                    </p>
                  </button>
                </h2>
                <div id="pe-acn-2" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    <p>Roles &amp; Responsibilities:</p>
                    <ul>
                      <li>Follow-up and guidance for incidents and changes</li>
                      <li>Capacity and risk management</li>
                      <li>Managing and coaching onshore and offshore teams (5 persons)</li>
                      <li>Communication towards management regarding current performance and progress</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#pe-acn-3"
                    aria-expanded="true"
                    aria-controls="pe-acn-3"
                  >
                    <p class="mb-0">
                      <span class="fw-bold me-2">September 2016 - April 2019:</span>
                      SAP BW, SAP BO and SAS in Utilities sector
                    </p>
                  </button>
                </h2>
                <div id="pe-acn-3" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    <p>Roles &amp; Responsibilities:</p>
                    <ul>
                      <li>Maintenance and support for SAP BW, SAP BO and SAS</li>
                      <li>Support for critical reporting</li>
                      <li>Optimization of current setup by proposing structural improvements</li>
                      <li>End-to-end implementation of new business requirements</li>
                      <li>SPOC: Discussing incidents, changes and problems with a focus on
                        stability, client satisfaction and proactive problem solving</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card mt-3">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <h2>Personal experience</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <p class="fw-bold">Linux</p>
            <p>
              I'm using Linux for self-hosting and as my daily driver for over 10 years.
              During this period, I mainly used following distro's:
            </p>
            <ul>
              <li>Fedora Silverblue</li>
              <li>Ubuntu</li>
              <li>CoreOS</li>
            </ul>

            <p class="fw-bold">Self-hosting</p>
            <p>
              My passion for self-hosting is driven by the ability to learn different technologies and provide
              privacy respecting services to my personal circle.
              All servers are configured through Ansible.
              The configuration is publicly available at
              <a href="https://github.com/JenswBE/setup/tree/main/server">https://github.com/JenswBE/setup</a>. 
            </p>

            <p>
              The most important services are:
            </p>
            <ul>
              <li>Nextcloud: Cloud storage, shared calendars, contacts, &hellip;</li>
              <li>LibreNMS: Monitoring of servers and network appliances</li>
              <li>Graylog: Log management of all servers</li>
              <li>Keycloak: Identity provider to support SSO</li>
              <li>Traefik: Reverse proxy and TLS termination</li>
              <li>Wireguard: VPN for internal services like LibreNMS</li>
              <li>Clevis/Tang: Network-Bound Disk Encryption (NBDE)</li>
            </ul>

            <p class="fw-bold">Networking with pfSense</p>
            <p>
              To maintain and improve my networking skills, I implemented a VLAN-based home network using pfSense
              and an Ubiquiti Unifi access point. This allows me to segment my network and enforce strict firewall rules.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mt-3">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <h2>Certifications</h2>
          </div>
        </div>

        {{ range .Data.Certifications }}
          <div class="row">
              <div class="col-4 col-sm-3 col-md-2">
                <p>{{ .Year }}</p>
              </div>
              <div class="col-6 col-sm-9 col-md-10">
              {{ if .Link }}
              <p><a href="{{ .Link }}">{{ .Name }}</a></p>
              {{ else }}
              <p>{{ .Name }}</p>
              {{ end }}
            </div>
          </div>
        {{ end }}
      </div>
    </div>

    <div class="card mt-3">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <h2>Education and Training</h2>
          </div>
        </div>

        {{ range .Data.Trainings }}
        <div class="row">
          <div class="col-4 col-sm-3 col-md-2">
            <p>{{ .Year }}</p>
          </div>
          <div class="col-6 col-sm-9 col-md-10">
            <p class="fw-bold">{{ .Name }}</p>
            {{ range .Extra }}
            <p>{{ . }}</p>
            {{ end }}
          </div>
        </div>
        {{ end }}
      </div>
    </div>

    <div class="card mt-3">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <h2>Communication skills</h2>
          </div>
        </div>

        {{ range .Data.Languages }}
        <div class="row">
          <div class="col-4 col-sm-3 col-md-2">
            <p class="fw-bold">{{ .Name }}</p>
          </div>
          <div class="col-6 col-sm-9 col-md-10">
            <p>{{ .Level }}</p>
          </div>
        </div>
        {{ end }}
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12">
        <p><a class="btn btn-primary w-100" href="#top" id="to-top" title="To top of page">To top</a></p>
      </div>
    </div>
  </div>

  <script>
    // Based on https://stackoverflow.com/a/75065536
    // Set theme to the user's preferred color scheme
    function updateTheme() {
      const colorMode = window.matchMedia("(prefers-color-scheme: dark)")
        .matches
        ? "dark"
        : "light";
      document.querySelector("html").setAttribute("data-bs-theme", colorMode);
    }

    // Set theme on load
    updateTheme();

    // Update theme when the preferred scheme changes
    window
      .matchMedia("(prefers-color-scheme: dark)")
      .addEventListener("change", updateTheme);
  </script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/js/bootstrap.min.js"
    integrity="sha512-fHY2UiQlipUq0dEabSM4s+phmn+bcxSYzXP4vAXItBvBHU7zAM/mkhCZjtBEIJexhOMzZbgFlPLuErlJF2b+0g=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
</body>

</html>
