@media print {
  #main-container {
    max-width: none;
  }

  .card-body {
    padding-bottom: 1.2rem;
  }
}

.max-height-100vh {
  max-height: 100vh;
}

#index-avatar {
  max-width: 300px;
  width: 100%;
}

#err404-background {
  height: 100vh;
  max-height: 100vh;
  object-fit: cover;
}
